{% extends 'base.html' %}
{% load static %}
{% block title %}Home - My Website{% endblock %}

{% block content %}
    
    <section id="mainContainer" class="bg-cover bg-center h-screen flex items-center justify-center text-center text-white">
        <div class="main-imageContainer">
            <img class="main-image" src="{% static '/images/burger.jpg' %}" alt="">
        </div>
        <div id="main-stagger" class="z-10">
            <h1 id="main-head">Unforgettable Events, Seamless Planning</h1>
            <p id="main-desc">From intimate gatherings to grand celebrations, we bring your vision to life with effortless event planning and execution.</p>
            <a href="{% url 'book_event' %}" class="main-button">Book Event</a>
        </div>
    </section>

    <div class="conatiner" id="headline">
       <h1><i class="fa-solid fa-bowl-food"></i> Best Offers <i class="fa-solid fa-bowl-food"></i></h1> 
       <h1><i class="fa-solid fa-bowl-food"></i> Best Deals <i class="fa-solid fa-bowl-food"></i></h1> 
       <h1><i class="fa-solid fa-bowl-food"></i> Only Here <i class="fa-solid fa-bowl-food"></i></h1> 
    </div>
    <!-- Features Section -->
    <section class="py-20 whyContainer">
        <div class="container mx-auto text-center px-6">
            <h2 class="text-5xl font-bold mb-12">Why Choose Us?</h2>
            <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-12">
                <div class="feature-card p-8 shadow-lg rounded-lg">
                    <i class="fas fa-calendar-check text-5xl text-red-500 mb-4"></i>
                    <h3 class="mb-4">Easy Booking</h3>
                    <p>Book your events in just a few clicks. It's fast and simple.</p>
                </div>
                <div class="feature-card p-8 shadow-lg rounded-lg ">
                    <i class="fas fa-tags text-5xl text-blue-500 mb-4"></i>
                    <h3 class="mb-4">Affordable Prices</h3>
                    <p >We offer competitive pricing for all event types. No hidden charges.</p>
                </div>
                <div class="feature-card p-8 shadow-lg rounded-lg ">
                    <i class="fas fa-star text-5xl text-yellow-500 mb-4"></i>
                    <h3 class="mb-4">Premium Services</h3>
                    <p>Enjoy top-tier catering and event management services for your special day.</p>
                </div>
            </div>
        </div>
    </section>


    <div class="BestContainer">
        <h1>EXPERIENCED WORKERS</h1>
    </div>

    <div class="BlackContainer">
        <img src="" alt="">
    </div>

    
{% endblock %}
